.navbar {
  height: 6%;
  width: 100%;
  background-color: var(--main-green-dark);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .nio-logo {
    width: 40px;
    height: 40px;
  }

  .profile-link {
    margin-left: auto;
    margin-right: 2rem;
    color: var(--main-tan-light);
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;

    span {
      margin-left: 6px;
    }

    &:hover {
      color: white;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 30%;

    .nav-link {
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      color: var(--main-tan-light);
      font-size: 16px;
      margin: 5px;

      &:hover {
        color: white;
        transition: all 0.5s ease-in-out;
      }
    }

    &:nth-child(1) {
      margin-right: 3rem;
      margin-left: 1rem;
    }
  }
}
