@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");


.background {
  background-color: #5f8d4e;
  height: 100vh;
  width: 100vw;
}

.selectButton {
  color: #fff;
  background-color: #285340;
  border-color: #285340;
}

.selectButton:hover {
  color: #fff;
  background-color: #285340;
  border-color: #285430;
}
