@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
  --main-green-dark: #285430;
  --main-green: #5f8d4e;
  --main-green-light: #a4be7b;
  --main-tan-light: #e5d9b6;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
